<!DOCTYPE html>
<html>
  <head>
    <title>Progblogg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="header">
    <h1>Kodeblogg</h1>
  </div>
  <nav>
    <%= link_to "Artikler", routes_path %>
    <%= link_to "Hva er kodebloggen?", hva_er_kodebloggen_path %>
    <a href="#">Knapp 3</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
