<!DOCTYPE html>
<html>
  <head>
    <title>Progblogg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="header">
    <p>*Header*</p>
  </div>
  <nav>
    <a href="#">Artikler</a>
    <a href="#">Knapp 2</a>
    <a href="#">Knapp 3</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
